.idea/*
__pycache__/*
scripts/__pycache__/*
*~
*.csv
*.zip
metadata_database/*
!supplementary_data/RAMP_repository_info.csv
!supplementary_data/dspace_ir_w_qdc.csv
*.db
config_files/*
config_files\*
zipped_data/*
